header {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 3.33rem;

  nav{
    width: 100vw;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    & > li:last-child {
      margin-left: auto;
    }
    
    a{
      text-decoration: none;
      color: $light-san-juan-blue;
      font-weight: 700;

      &:hover {
        color: $san-juan-blue;
      }
    }

    .schedule_button {
      color: $link-water-white;
      background-color: $dark-pink;
      padding: 12px 18px;
      border-radius: 24px;

      &:hover {
        color: $link-water-white;
        background-color: $charm-pink;
      }
    }


  }
}