header {
  display: flex;
  align-items: center;
  gap: 4rem;
  // padding-top: 3.33rem;
  margin-top: 3.33rem;

  nav{
    width: 100vw;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    & > li:last-child {
      margin-left: auto;
    }
    
    a{
      text-decoration: none;
    }


  }
}